<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
        <div class="docs-sidebar hidden-print affix-top" role="complementary">
            <ul class="nav docs-sidenav">
                <li<%= sidebar_current("docs-home") %>>
                    <a href="/docs/providers/index.html">All Providers</a>
                </li>

                <li<%= sidebar_current("docs-akamai-index") %>>
                    <a href="/docs/providers/akamai/index.html">Akamai Provider</a>
                </li>

                <li<%= sidebar_current("docs-akamai-data") %>>
                    <a href="#">Data Sources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-akamai-data-authorities-set") %>>
                            <a href="/docs/providers/akamai/d/authorities_set.html">akamai_authorities_set</a>
                        </li>
                        <li<%= sidebar_current("docs-akamai-data-contract") %>>
                            <a href="/docs/providers/akamai/d/contract.html">akamai_contract</a>
                        </li>
                        <li<%= sidebar_current("docs-akamai-data-cp-code") %>>
                            <a href="/docs/providers/akamai/d/cp_code.html">akamai_cp_code</a>
                        </li>
                        <li<%= sidebar_current("docs-akamai-data-group") %>>
                            <a href="/docs/providers/akamai/d/group.html">akamai_group</a>
                        </li>
                        <li<%= sidebar_current("docs-akamai-data-property-rules") %>>
                            <a href="/docs/providers/akamai/d/property_rules.html">akamai_property_rules</a>
                        </li>
                    </ul>
                </li>

                <li<%= sidebar_current("docs-akamai-resource") %>>
                    <a href="#">Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-akamai-resource-dns-record") %>>
                            <a href="/docs/providers/akamai/r/dns_record.html">akamai_dns_record</a>
                        </li>
                        <li<%= sidebar_current("docs-akamai-resource-dns-zone") %>>
                            <a href="/docs/providers/akamai/r/dns_zone.html">akamai_dns_zone</a>
                        </li>
                        <li<%= sidebar_current("docs-akamai-resource-edge-hostname") %>>
                            <a href="/docs/providers/akamai/r/edge_hostname.html">akamai_edge_hostname</a>
                        </li>
                        <li<%= sidebar_current("docs-akamai-resource-property-config") %>>
                            <a href="/docs/providers/akamai/r/property.html">akamai_property</a>
                        </li>
                        <li<%= sidebar_current("docs-akamai-resource-property-activation") %>>
                            <a href="/docs/providers/akamai/r/property_activation.html">akamai_property_activation</a>
                        </li>
                        <li<%= sidebar_current("docs-akamai-resource-property-variables") %>>
                            <a href="/docs/providers/akamai/r/property_variables.html">akamai_property_variables</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    <% end %>

    <%= yield %>
<% end %>
